
@{
    ViewBag.Title = "Thongbao";
}

<div style="height:300px; display: flex; align-items: center; justify-content: center">
    <div>
        <h2 style=" text-align:center;">Đặt tiệc thành công</h2>
        <h2 style="text-align:center;">Vui lòng chờ xác nhận đơn đặt tiệc...</h2>
    </div>
</div>
<div style="height:100px;">
    <a href="/Home/Index" style="font-size:20px;">Quay lại</a>
</div>

